<link rel="stylesheet" href="/css/auth/login.css">

<div class="container-admin">
  <!-- Lado esquerdo -->
  <div class="left">
    
    <img src="assets/img/iconlogin.png" alt="icon entrar">
    <h2>BEM-VINDO ADM!</h2>
    <p>Logue na sua conta de ADM</p>
    
    <form class="formulario-login">
      <label for="email">E-mail</label>
      <input type="email" id="email" placeholder="Ex.: eduardoroch@gmail.com">

      <label for="senha">Senha</label>
      <input type="password" id="senha" placeholder="**********">
      
      <button class="btn">ENTRAR</button>
    </form>

    <small><a href="/">Voltar para o home</a></small>
  </div>
</div>

<script type="module" src="/js/loginAdmin.js"></script>