<link rel="stylesheet" href="/css/partials/adminSidebar.css">

<div class="sidebar">
  <div class="sidebar-header">
    <a href="/">
      <img class="logo" src="/assets/img/manobrei-logo-alt.png" alt="Logo do Manobrei">
    </a>
  </div>

  <ul class="sidebar-menu">
    <a href="/dashboard">
      <i class="ri-dashboard-fill"></i>
      Dashboard
    </a>

    <a href="/dashboard/usuarios">
      <i class="ri-user-fill"></i>
      Usuários
    </a>

    <a href="/dashboard/categorias">
      <i class="ri-menu-search-fill"></i>
      Categorias
    </a>

    <a href="/dashboard/">
      <i class="ri-archive-fill"></i>
      Produtos
    </a>

    <a href="/dashboard/">
      <i class="ri-shopping-cart-2-line"></i>
      Pedidos
    </a>

    <a href="/logout" class="logout">
      <i class="ri-logout-box-line"></i>
      Sair
    </a>
  </ul>
</div>
