<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
	<div class="redes-sociais">
		<a href="#">
			<img class="logo" src="/assets/manobrei-logo.png" alt="Logo do Manobrei">
		</a>
	</div>

	<div class="linha-footer"></div>

	<div>
		Eae
	</div>

	<div class="barra">
		<p>© 2025 Manobrei</p>
		<p>Desenvolvido por <span class="bold">Arthur Machado</span>, <span class="bold">David Alexandre</span> e <span class="bold">Thiago Moreira</span></p>
	</div>
</footer>