<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
	<div class="redes-sociais">
		<a href="#">
			<img class="logo" src="/assets/img/manobrei-logo-alt.png" alt="Logo do Manobrei">
		</a>

		<div>
			<a href="#" class="link-rede-social">
				<i class="ri-twitter-x-line"></i>
			</a>
			<a href="#" class="link-rede-social">
				<i class="ri-google-fill"></i>
			</a>
			<a href="#" class="link-rede-social">
				<i class="ri-instagram-fill"></i>
			</a>
			<a href="#" class="link-rede-social">
				<i class="ri-facebook-circle-fill"></i>
			</a>
		</div>
	</div>

	<div class="linha-footer"></div>

	<div class="sections-footer">
		<ul class="navegacao">
			<h2>Navegação</h2>
			<a href="">Início</a>
			<a href="">Sobre</a>
			<a href="">Produtos</a>
			<a href="">Contato</a>
		</ul>

		<ul class="navegacao">
			<h2>Contato</h2>
			<a href="#">
				<i class="ri-map-pin-fill" style="font-size: 24px"></i>
				R. Igarapé Água Azul, 70. São Paulo - SP
			</a>
			<a href="#">
				<i class="ri-whatsapp-line" style="font-size: 24px"></i>
				+55 11 98765-4321
			</a>
			<a href="#">
				<i class="ri-mail-fill" style="font-size: 24px"></i>
				manobreiCorporation@gmail.com
			</a>
		</ul>
	</div>
</footer>

<div class="barra">
	<p>© 2025 Manobrei</p>
	<p>Desenvolvido por <span class="bold">Arthur Machado</span>, <span class="bold">David Alexandre</span> e <span class="bold">Thiago Moreira</span></p>
</div>