<link rel="stylesheet" href="/css/header.css">

<header class="header">
	<div>
		<a href="#">
			<img class="logo" src="/assets/manobrei-logo.png" alt="Logo do Manobrei">
		</a>
	</div>

	<nav class="nav">
		<a href="">Início</a>
		<a href="">Sobre</a>
		<a href="">Produtos</a>
	</nav>

	<div class="container-button">
		<a class="entrar" href="">Entrar</a>
		<span class="linha"></span>
		<a class="cadastrar" href="">Cadastrar</a>
	</div>
</header>