<link rel="stylesheet" href="/css/cadastro.css" />
<div class="container">
  <!-- Lado esquerdo -->
  <div class="left">
    <img src="/assets/img/skatista_cadastro.png" alt="Skatista" />
  </div>
  <!-- Lado direito -->
  <div class="right">
    <div class="header">
      <img src="/assets/img/logocad.png" alt="icone usuario" class="icon" />
      <h2>CRIAR CONTA!</h2>
      <p>Crie sua conta</p>
    </div>

    <form>
      <label for="usuario">Email do Usuário:</label>
      <input type="text" id="usuario" placeholder="Coloque seu email aqui" />

      <label for="telefone">Telefone Celular:</label>
      <input type="text" id="telefone" placeholder="(13) 96753-4265" />

      <label for="nascimento">Data de Nascimento:</label>
      <input type="text" id="nascimento" placeholder="01/10/2000" />
      <br />
      <br />
      <button type="submit" class="btn">CADASTRAR</button>
    </form>

    <small>Já possui uma conta? <a href="#">Entre aqui!</a></small>
  </div>
</div>