<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/animacao.css">

{{> header}}

<main>
  <div class="home" id="home">
    <div>
      <h1 class="grashrock">Roupas</h1>
      <h1 class="thrashlane">Manobras</h1>
      <h1 class="shockwave">e Skate</h1>
      
      <p>
        Bem-vindo à nossa loja!<br> Aqui você encontra <span class="bold">skates, peças e acessórios de qualidade</span>,<br> para elevar suas manobras e seu estilo.
      </p>

      <a>Vamos nessa!</a>
    </div>

    <img src="/assets/img/home-img.png" alt="Imagem do home">
      
  </div>


  <div class="home2" id="categoria">
    <div class="pista">
      <img src="/assets/img/9614437-removebg-preview 1 (1).png" alt="skatista" class="skater__girl" id="skatista">
    </div>

    <h1 class="grashrock2">Escolha uma categoria:</h1>

    <br>
    
    <div class="cardsCategoria">
      <div class="card">
        <a href="./index.handlebars">
        <img src="/assets/img/GEARFOTO.png" alt="">
        </a>
      </div>

      <div class="card">
        <a href="./index.handlebars">
        <img src="/assets/img/streetwear-foto.png" alt="">
        </a>
      </div>

      <div class="card">
        <a href="./index.handlebars">
          <img src="/assets/img/skates-foto.png" alt="">
        </a>
      </div>
    </div>

    <div class="pista2">
      <img src="/assets/img/9614437-removebg-preview 1 (1).png" alt="skatista2" class="skater__girl2" id="skatista2">
    </div>

    <br>
    <br>
    <br>

    <h1 class="grashrock2">⭐Favoritos⭐</h1>

    <br>

    <div class="cardsCategoria">
      <div class="card">
          <a href="./index.handlebars">
              <img src="/assets/img/skateFoto.png">
              <p>ChromeWheels Skate de 31 <br>polegadas Double Kick Concave <br>Design | Ideal para crianças e <br>iniciantes | ...</p>
              <p><span class="azulPreco">R$ 385</span></p>
          </a>
      </div>
      <div class="card">
          <a href="./musica02.html">
              <img src="/assets/img/capaceteFoto.png">
              <P class="tituloProduto">Capacete para Skate Hotwheels | Bike Patins Patinete | Profissional | Unissex</P>
              <p><span class="azulPreco">R$ 150</span></p>
          </a>
      </div>
      <div class="card">
          <a href="./musica03.html">
              <img src="/assets/img/sapatoFoto.png">
              <P class="tituloProduto">Tênis Sk8-Low Black True White</P>
              <br>
              <p><span class="azulPreco">R$ 350,99</span></p>
          </a>
      </div>
      <div class="card">
          <a href="./musica04.html">
              <img src="/assets/img/camisaFoto.png">
              <P class="tituloProduto">Camiseta Manga Longa Chumbo Streetwear Modelo: "Gotham Era" - Estilo Tumblr/Lançamento Especial</P>
              <p><span class="azulPreco">R$ 49,99</span></p>
          </a>
      </div>
    </div>
  
    <br>
    <br>

  </div>
</main>

{{> footer}}