<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/animacao.css">

{{> header}}

<main>
  <div class="home" id="home">
    <div>
      <h1 class="grashrock">Roupas</h1>
      <h1 class="thrashlane">Manobras</h1>
      <h1 class="shockwave">e Skate</h1>
      
      <p>
        Bem-vindo à nossa loja!<br> Aqui você encontra <span class="bold">skates, peças e acessórios de qualidade</span>,<br> para elevar suas manobras e seu estilo.
      </p>

      <a>Vamos nessa!</a>
    </div>

    <img src="/assets/img/home-img.png" alt="">

       
  </div>


  <div class="home2" id="categoria">
     <div class="pista">
        <img src="/assets/img/9614437-removebg-preview 1 (1).png" alt="skatista" class="skater__girl" id="skatista">
     </div>

      <h1 class="grashrock2">Escolha uma categoria:</h1>
      <br>
    <div class="cardsCategoria">
      <div class="card">
        <img src="/assets/img/GEARFOTO.png" alt="">
        <a href="./index.handlebars"></a>
      </div>

      <div class="card">
        <img src="/assets/img/streetwear-foto.png" alt="">
        <a href="./index.handlebars"></a>
      </div>

      <div class="card">
        <img src="/assets/img/skates-foto.png" alt="">
        <a href="./index.handlebars"></a>
      </div>
    </div>

   <div class="pista2">
        <img src="/assets/img/9614437-removebg-preview 1 (1).png" alt="skatista2" class="skater__girl2" id="skatista2">
     </div>
  </div>
</main>

{{> footer}}