<link rel="stylesheet" href="/css/index.css">

{{> header}}

<main>
  <div class="home" id="home">
    <div>
      <h1 class="grashrock">Roupas</h1>
      <h1 class="thrashlane">Manobras</h1>
      <h1 class="shockwave">e Skate</h1>
      
      <p>
        Bem-vindo à nossa loja!<br> Aqui você encontra <span class="bold">skates, peças e acessórios de qualidade</span>,<br> para elevar suas manobras e seu estilo.
      </p>

      <a>Vamos nessa!</a>
    </div>

    <img src="/assets/img/home-img.png" alt="">
  </div>
</main>

{{> footer}}