<link rel="stylesheet" href="/css/login.css">
  <div class="container">
    <!-- Lado esquerdo -->
    <div class="left">
      
      <img src="assets/img/iconlogin.png" alt="icon entrar">
      <h2>BEM-VINDO!</h2>
      <p>Logue na sua conta</p>

      <label for="email">E-mail</label>
      <input type="email" id="email" placeholder="Ex.: eduardoroch@gmail.com">

      <label for="senha">Senha</label>
      <input type="password" id="senha" placeholder="**********">
      
      <button class="btn">ENTRAR</button>
      
      <small>Não tem uma conta? <a href="/cadastro">Crie sua conta aqui!</a></small>
    </div>

    <!-- Lado direito -->
    <a href="/" class="right">
      <img src="/assets/img/skatista_login.png" alt="Skatista">
    </a>
  </div>


