body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
}

.error-box {
  background-color: #ffffff;
  padding: 20px 30px;
  border: solid 1px #cecece;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 4, 0.2);
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0 0 10px;
}

.voltar {
  text-decoration: underline;
}

a {
  font-weight: 700;
  transition: all 0.2s ease-in;
}

a:hover {
  color: #2c2c2c;
}

p {
  margin-bottom: 1rem;
}