/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}

html {
  scroll-behavior: smooth !important;
}

a {
  color: #000;
  text-decoration: none;
}

a:active {
  color: inherit;
}

/* h1 {
  font-family: 'Darksht', sans-serif;
}

h2 {
  font-family: 'Grashrock', sans-serif;
}

h3 {
  font-family: 'Reign Beats', sans-serif;
}

h4 {
  font-family: 'Shockwave', sans-serif;
}

h5 {
  font-family: 'The Jacatra', sans-serif;
}

h6 {
  font-family: 'Thrashlane', sans-serif;
} */